  <footer id="footer">
    <nav>
      <ul>
        <li><span>Kube</span></li>
        <li>
          <a href="/docs/">Documentation</a>
        </li>
        <li>
          <a href="/community/">Community</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
      </ul>
    </nav>
  </footer>
